{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Homepage</title>
  </head>
  <body style="background-color: antiquewhite">
  <table border="0" align="center" width="1000px;">
      <tr>
          <th>
              {% include 'head.html' %}
          </th>
          </tr>
       <tr>
          <th>
              {% include 'manu.html' %}
          </th>
          </tr>
      <tr>
          <th><br><br>
              <p style="color: blue;font-family:'Arial Narrow'">
                Welcome to RB Electronics Store, your number one source for all things [product, ie: Laptops, watches,mobiles]. We're dedicated to giving you the very best of Product, with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]
Founded in 2010 by Mr.Rajesh Bhagure, RB Electronics Store has come a long way from its beginnings in a Aurangabad, ie: home office at A.bad. When Mr.Rajesh first started out, his passion for helping other parents be more eco-friendly, providing the best equipment for his fellow customers drove him to do intense research, quit her day job, and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over India, and are thrilled to be a part of the eco-friendly, fair trade wing of the Electronics industry.

We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
<br>
                  <span style="color: blueviolet">
Sincerely,<br>
M.Rajesh Bhagure<br>
CEO,RB Electronics Store,<br>
                  ContactNo:9975292647<br>


</span>
              </p>
          </th>
      </tr>
      <tr>
           <th>
        {% include 'footer.html' %}
          </th>
      </tr>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </table>
  </body>
</html>