{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
          body{
              background: url({% static "images/abstract-antique-backdrop-background-129731.jpg" %});
          }



      </style>
    <title>usercarts list</title>
  </head>
  <body>
  <table border="0" align="center" style="width: 100%">
      <tr>
          <th colspan="2" align="center">
              {% include 'head.html' %}
          </th>
      </tr>
      <tr><th style="column-span: 2">
          <div style="text-align: center;">
    <div style="text-align: center">
<nav id="navbar-example2"class="navbar navbar-light" style="background-color: #e3f2fd;">

  <ul class="nav nav-pills" >
          <li class="nav-item" >
              <a class="nav-link" href="{% url 'logincheck' %}" >Home</a>
          </li>
      <li class="nav-item" style="margin-left:60px">
                <a class="nav-link" href="{% url 'UserCarts' %}" >UserCarts</a>
        </li>
      <li class="nav-item" style="margin-left:60px">
                <a class="nav-link" href="{% url 'UserBills' %}" >UserBills</a>
        </li>
      <li class="nav-item" style="margin-left:100px">
      <a class="nav-link" href="{% url 'logout' %}" >Logout</a>
 </li>
       </ul></nav></div>
</div>

      </th></tr>
  <tr>
          <th align="center">
          <br><br>
         {% if request.session.admin_id %}

    <table  border="1" align="center" width="1000">

        <tr><th colspan="7"><h1 style="text-align: center;font-family: 'Agency FB';color:darkorchid"><b>User Bills</b></h1><br></th></tr>
    <tr>
            <th style="color: darkred">Bill Id:</th>
            <th style="color: darkred">Name:</th>
            <th style="color: darkred">Email:</th>
            <th style="color: darkred">Products Quantity:</th>
            <th style="color: darkred">Actual_Price</th>
            <th style="color: darkred">Discount</th>
            <th style="color: darkred">Total Bill</th>
        </tr>
    {% for x in data %}
        <tr>
            <td style="color: blue">{{ x.id }}</td>
            <td style="color: blue">{{ x.name }}</td>
            <td style="color: blue">{{ x.email }}</td>
            <td style="color: blue">{{ x.products_quantity }}</td>
            <td style="color: blue">{{ x.actual_price }} Rupees</td>
            <td style="color: blue">{{ x.discounted }} Rupees</td>
            <td style="color: blue">{{ x.total_bill }} Rupees</td>
        </tr>
{% endfor %}
  </table>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endif %}
          </th></tr></table> </body>
  <br><br>
<footer style="text-align: center"><span>&copy;Copyright AllRight Reserved</span></footer>
</html>